extends layout

block content
  h1='Message board'
  main
    section.form-container
      form(method='POST' action='/new')
          input(type='text', placeholder='Title' name='messageTitle' id='messageTitle')
          input(type='text' placeholder='Username' name='messageUser' id='messageUser')
          textarea(name='messageText' placeholder='Write your message here' cols='30', id='messageText')
          button(type='submit' id='submit-btn')= 'Post Message'
